policy_module(mod_selinux, 2.2)

# ------------------------------------------
# Apache/SELinux plus security policy module
# ------------------------------------------

########################################
#
# Declarations
#

# domains to perform as a web server process
attribute httpd_server_domains;

# domains for unauthorized clients
type anon_webapp_t;
domain_type(anon_webapp_t)
apache_base_webapp(anon_webapp_t)

# domains for authorized clients (user)
type user_webapp_t;
domain_type(user_webapp_t)
apache_base_webapp(user_webapp_t)
apache_user_webapp(user, user_webapp_t)

# domains for authorized clients (staff)
type staff_webapp_t;
domain_type(staff_webapp_t)
apache_base_webapp(staff_webapp_t)
apache_user_webapp(staff, staff_webapp_t)

########################################
#
# Local policies for Apache/httpd server
#  (todo: it should be moved to apache.te)
#

gen_require(`
	type httpd_t;
	type httpd_exec_t;
')

allow httpd_t self : process { setcurrent };

typeattribute httpd_t httpd_server_domains;

ifdef(`enable_mcs',`
	init_ranged_daemon_domain(httpd_t,httpd_exec_t,s0 - mcs_systemhigh)
')
